@model IEnumerable<Category>
<h1>Categories</h1>

<a asp-controller="Category" asp-action="Create">
<button class="btn-primary btn-primary">
        New category
</button>
</a>
<br/>
<br/>
<table 
class="table table-bordered table-striped" 
style="width: 100%">
<thead>
    <tr>
        <th>Name</th>
    </tr>
</thead>
<tbody>
    @foreach(var obj in Model)
        {
            <tr>
                <td width="100%">
                    @obj.Name
                </td>
                <td>
                    <a asp-controller="Category" 
                    asp-action="Edit"
                    asp-route-id="@obj.Id">
                    <button class="btn btn-primary">
                            Edit
                    </button>
                    </a>
                </td>
                <td>
                    <a asp-controller="Category" 
                    asp-action="Delete"
                    asp-route-id="@obj.Id">
                    <button class="btn btn-danger">
                            Delete
                    </button>
                    </a>
                </td>
            </tr>
        }
</tbody>
</table>
