@model Ingredient 

<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden  />
    <div class="border-bottom p-3 mt-4">
        <div class="row pb-2">
            <h1>Delete Ingredient</h1>
            <p>Are you sure you want to delete the ingredient?</p>
        </div>
        <hr/>
        <table>
            <tr>
                <td class="pt-4 pr-4"><label asp-for="Name"></label>&nbsp;&nbsp;</td>
                <td class="pt-4">
                    <input asp-for="Name" disabled/>
                </td>
            </tr>
        </table>
        <button type="submit" class="mt-5 btn-danger btn">Delete</button>
    </div>
</form>

